html, body {
  margin: 0; padding: 0; width: 100%; height: 100%;
  font-family: "Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
body { display: -webkit-flex; display: flex; flex-direction: column; justify-content: center; }
.head-sec { width: 100%; text-align: center;  margin: 0 0 5rem 0; }
.head-sec h3 { font-size: 32px; margin: 0 0 1rem 0; font-weight: 300; }
.head-sec h1 { font-size: 64px; margin: 0; font-weight: 500; }
.contact-sec { width: 100%; display: -webkit-flex; display: flex; flex-direction: row; justify-content: center;   flex-wrap: wrap; }
.contact-sec a { text-decoration: none; font-size: 36px; margin: 0 1rem; }
.contact-sec a.qq { font-size: 32px; }

body { background-color: #272838; color: #fff; transition: background-color 0.15s; }
.head-sec h3 { color: #fc425f; transition: color 0.15s; }
.head-sec h1 { text-shadow: 3px 3px 0px #fc425f; transition: all 0.15s; }
.contact-sec a { color: #fff; text-shadow: 2px 2px 0px #fc425f; transition: all 0.15s; }

body.color-1 { background-color: #D61E5D; color: #66F1A8; }
body.color-1 .head-sec h3 { color: #3748AE; }
body.color-1 .head-sec h1 { text-shadow: 3px 3px 0px #3748AE; }
body.color-1 .contact-sec a { color: #66F1A8; text-shadow: 2px 2px 0px #3748AE; }

body.color-2 { background-color: #E8E045; color: #FF2F94; }
body.color-2 .head-sec h3 { color: #3648B3; }
body.color-2 .head-sec h1 { text-shadow: 3px 3px 0px #3648B3; }
body.color-2 .contact-sec a { color: #FF2F94; text-shadow: 2px 2px 0px #3648B3; }

body.color-3 { background-color: #40CFD6; color: #FFF280; }
body.color-3 .head-sec h3 { color: #FC425F; }
body.color-3 .head-sec h1 { text-shadow: 3px 3px 0px #FC425F; }
body.color-3 .contact-sec a { color: #FFF280; text-shadow: 2px 2px 0px #FC425F; }

body.color-4 { background-color: #5331A5; color: #6CEDFD; }
body.color-4 .head-sec h3 { color: #FF33B4; }
body.color-4 .head-sec h1 { text-shadow: 3px 3px 0px #FF33B4; }
body.color-4 .contact-sec a { color: #6CEDFD; text-shadow: 2px 2px 0px #FF33B4; }

body.color-5 { background-color: #05B36B; color: #FF5E81; }
body.color-5 .head-sec h3 { color: #4E2A9B; }
body.color-5 .head-sec h1 { text-shadow: 3px 3px 0px #4E2A9B; }
body.color-5 .contact-sec a { color: #FF5E81; text-shadow: 2px 2px 0px #4E2A9B; }

body.color-7 { background-color: #4066D6; color: #FFF280; }
body.color-7 .head-sec h3 { color: #BD0091; }
body.color-7 .head-sec h1 { text-shadow: 3px 3px 0px #BD0091; }
body.color-7 .contact-sec a { color: #FFF280; text-shadow: 2px 2px 0px #BD0091; }

body.color-8 { background-color: #272838; color: #fff; }
body.color-8 .head-sec h3 { color: #fc425f; }
body.color-8 .head-sec h1 { text-shadow: 3px 3px 0px #fc425f; }
body.color-8 .contact-sec a { color: #fff; text-shadow: 2px 2px 0px #fc425f; }
