body {
    padding-top: 50px;
}

.navbar-header .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.jumbotron {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../images/bg/bg1.png) center center;
    color: #fff;
}

.section-cont {
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-title {
    line-height: 1;
    padding-left: 14px;
    border-left: 6px solid #ddd;
}

.section-list {
    padding: 0;
    list-style: none;
}

.section-list-item {

}

.section-list-item a {
    display: block;
    color: #fff;
    padding: 20px;
}

.section-list-item:hover {
    box-shadow: inset 0 -10rem rgba(0,0,0,.1);
}

.articles .section-list-item a, .playground .section-list-item a {
    color: #333;
}
